      <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <%= link_to "Chamaco", root_path, class: "navbar-brand" %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link #{yield(:home_active)}" %>
            </li>
            <li class="nav-item dropdown">
              <%= link_to "Users", '#', { class: "nav-link dropdown-toggle #{yield(:user_active)}", id: "navbarDropdown", "role" => "button", "data-toggle" => "dropdown" } %>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% @users.each do |user| %>
                  <%= link_to user.name, user, class: "dropdown-item" %>
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to "New User", new_user_path ,class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to "About", about_path, class: "nav-link #{yield(:about_active)}" %>
            </li>
            <li class="nav-item">
              <%= link_to "Contact", contact_path, class: "nav-link #{yield(:contact_active)}" %>
            </li>
          </ul>
        </div>
      </nav>
