      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <%= link_to "Chamaco", root_path, class: "navbar-brand" %>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Users", users_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "About", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Contact", root_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </nav>