<% provide(:user_active, 'active') %>

<div class="text-secondary">
	<br>
	<% if notice %>
		<p class="text-success" id="notice"><%= notice %></p>
		<hr>
	<% end %>

	<p>
	  <strong>Name:</strong>
	  <%= @user.name %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @user.email %>
	</p>

	<br>

	<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-sm btn-secondary" %>

	<br>
	<br>

	<%= link_to 'Back', users_path, class: "btn btn-sm btn-secondary" %>
</div>
