<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Chamaco</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <div class="container">
      <%= render "partials/navbar" %>
    	<%= yield %>
  	</div>
  </body>
</html>
